:root {
  --slate: #434455;
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --light: #e7e9fc;
  --overlay: #2e2f42;
}
/**
  |============================
  | General
  |============================
*/
body {
  color: var(--slate);
  background-color: var(--white);
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
ul {
  list-style: none;
}
.container {
  max-width: 428px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/**
  |============================
  | link
  |============================
*/
.link {
  text-decoration: none;
  color: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--navyblue);
}

.link:hover,
.link:focus {
  color: var(--ocean);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  flex: none;
  color: var(--iris);
  display: flex;
  align-items: center;
}
.logo-dark {
  color: var(--navyblue);
}
.logo-light {
  color: var(--cloud);
}
.logo-header {
  margin-right: 76px;
  padding: 24px 0;
}

/**
  |============================
  | header
  |============================
*/
.header {
  border-bottom: 1px solid var(--light);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;
}

.nav-link.current {
  color: var(--ocean);
}
.nav-link::after {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;

  border-radius: 2px;
}

.nav-link.current::after {
  background-color: var(--ocean);
}

.adress {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.adress-list {
  display: flex;
  gap: 40px;
}
.adress-link {
  padding: 24px 0;
}

/**
  |============================
  | hero
  |============================
*/
.hero {
  color: var(--white);
  max-width: 1440px;
  background-color: var(--navyblue);
  padding-bottom: 188px;
  padding-top: 188px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
}

.hero-title {
  display: block;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-title-btn {
  color: var(--white);
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | button
  |============================
*/
.button {
  font-family: inherit;
  cursor: pointer;
}
.button:hover {
  background-color: var(--ocean);
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus {
  background-color: var(--ocean);
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | advantages
  |============================
*/
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-list-item {
  flex-basis: calc((100% - 24px * 3) / 4);
}

.advantages-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid var(--slate);
  background: var(--cloud);
}

.advantages-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**
  |============================
  | team
  |============================
*/
.team {
  background-color: var(--cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-set {
  display: flex;
  gap: 24px;
}

.team-set-item {
  padding-bottom: 0px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-set-item-box {
  padding: 32px 0;
}

.team-list {
  background-color: var(--white);
}

.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}

.social-icon {
  fill: var(--cloud);
}

/**
  |============================
  | portfolio
  |============================
*/

.projects {
  padding: 96px 0 120px 0;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.project-item {
  flex-basis: calc((100% - 24px * 2) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-item:hover .overlay-text {
  transform: translateY(0%);
}

/**
  |============================
  | overlay
  |============================
*/
.box {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--iris);

  display: flex;
}

.box:hover .overlay-text {
  transform: translateY(0);
}

/**
  |============================
  | project card
  |============================
*/
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.project-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/**
  |============================
  | footer
  |============================
*/

.footer {
  background-color: var(--navyblue);
  padding: 100px 0 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo-box {
  margin-right: 120px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.social-box {
  display: inline-block;
}

.social-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer .social-list {
  gap: 16px;
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: #31d0aa;
}

.email-box {
  margin-left: 80px;
}
.email-title {
  color: var(--white);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.email-form {
  display: flex;
  gap: 24px;
}
.label-email {
}
.input-email {
  width: 264px;
  height: 40px;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  border-radius: 4px;
  color: var(--white);
  border: 1px solid var(--white);
}
.input-email::placeholder {
  color: var(--white);
}

.email-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  border: none;

  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  color: var(--white);
  background: var(--iris);
  outline: transparent;
}

.email-icon {
  margin-left: 16px;
  fill: var(--white);
}

/**
  |============================
  | Modal
  |============================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 1;
  visibility: visible;
}

.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  background-color: #e7e9fc;
  border-radius: 50%;

  padding: 0;
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 24px;
  top: 24px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  border: none;
  fill: #ffffff;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 16px;
}

.modal-form {
}
.modal-container {
  margin-bottom: 8px;
}
.modal-container-comment {
  margin-bottom: 16px;
}
.modal-container-checkbox {
  margin-bottom: 24px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-form-field {
  position: relative;
}
.modal-form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--iris);
}

.modal-form-icon {
  fill: var(--navyblue);

  position: absolute;
  top: 50%;
  left: 16px;

  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--iris);
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-comment:focus {
  border-color: var(--iris);
}

.modal-form-comment::placeholder {
  display: block;

  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17px;
  letter-spacing: 0.04;

  padding-top: 8px;
}

.modal-form-desc {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.checkbox.visually-hidden:checked + .modal-form-label .modal-form-desc {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.modal-form-link {
  color: var(--iris);
}
